<style>
    bj-config-core textarea.content {
        min-height: 3em;
    }
</style>

<bj-accordion id="core-formatting">
    <accordion-title>Formatting hints</accordion-title>
    <accordion-content>
        <div class="d-flex gap-1 justify-center">
            <table class="h-fitcontent">
                <tr>
                    <td class="text-right">^0</td>
                    <td>
                        <span style="color: rgb(0, 0, 0)">
                            {{"beamjoy.core.formatting.0"|translate}}
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="text-right">^1</td>
                    <td>
                        <span style="color: rgb(0, 0, 170)">
                            {{"beamjoy.core.formatting.1"|translate}}
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="text-right">^2</td>
                    <td>
                        <span style="color: rgb(0, 170, 0)">
                            {{"beamjoy.core.formatting.2"|translate}}
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="text-right">^3</td>
                    <td>
                        <span style="color: rgb(0, 170, 170)">
                            {{"beamjoy.core.formatting.3"|translate}}
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="text-right">^4</td>
                    <td>
                        <span style="color: rgb(170, 0, 0)">
                            {{"beamjoy.core.formatting.4"|translate}}
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="text-right">^5</td>
                    <td>
                        <span style="color: rgb(170, 0, 170)">
                            {{"beamjoy.core.formatting.5"|translate}}
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="text-right">^6</td>
                    <td>
                        <span style="color: rgb(255, 170, 0)">
                            {{"beamjoy.core.formatting.6"|translate}}
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="text-right">^7</td>
                    <td>
                        <span style="color: rgb(170, 170, 170)">
                            {{"beamjoy.core.formatting.7"|translate}}
                        </span>
                    </td>
                </tr>
            </table>
            <table class="h-fitcontent">
                <tr>
                    <td class="text-right">^8</td>
                    <td>
                        <span style="color: rgb(85, 85, 85)">
                            {{"beamjoy.core.formatting.8"|translate}}
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="text-right">^9</td>
                    <td>
                        <span style="color: rgb(85, 85, 255)">
                            {{"beamjoy.core.formatting.9"|translate}}
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="text-right">^a</td>
                    <td>
                        <span style="color: rgb(85, 255, 85)">
                            {{"beamjoy.core.formatting.a"|translate}}
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="text-right">^b</td>
                    <td>
                        <span style="color: rgb(85, 255, 255)">
                            {{"beamjoy.core.formatting.b"|translate}}
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="text-right">^c</td>
                    <td>
                        <span style="color: rgb(255, 85, 85)">
                            {{"beamjoy.core.formatting.c"|translate}}
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="text-right">^d</td>
                    <td>
                        <span style="color: rgb(255, 85, 255)">
                            {{"beamjoy.core.formatting.d"|translate}}
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="text-right">^e</td>
                    <td>
                        <span style="color: rgb(255, 255, 85)">
                            {{"beamjoy.core.formatting.e"|translate}}
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="text-right">^f</td>
                    <td>
                        <span style="color: rgb(255, 255, 255)">
                            {{"beamjoy.core.formatting.f"|translate}}
                        </span>
                    </td>
                </tr>
            </table>
            <table class="h-fitcontent">
                <tr>
                    <td class="text-right">^r</td>
                    <td>
                        <span>{{"beamjoy.core.formatting.r"|translate}}</span>
                    </td>
                </tr>
                <tr>
                    <td class="text-right">^l</td>
                    <td>
                        <span style="font-weight: bold">
                            {{"beamjoy.core.formatting.l"|translate}}
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="text-right">^m</td>
                    <td>
                        <span style="text-decoration: line-through">
                            {{"beamjoy.core.formatting.m"|translate}}
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="text-right">^n</td>
                    <td>
                        <span style="text-decoration: underline">
                            {{"beamjoy.core.formatting.n"|translate}}
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="text-right">^o</td>
                    <td>
                        <span style="font-style: italic">
                            {{"beamjoy.core.formatting.o"|translate}}
                        </span>
                    </td>
                </tr>
            </table>
        </div>
    </accordion-content>
</bj-accordion>
<table class="w-100">
    <tr>
        <td class="text-right">
            {{"beamjoy.window.config.tabs.core.fields.name"|translate}}
        </td>
        <td>
            <input type="text" ng-model="$ctrl.data.Name" class="w-100" />
            <div
                ng-hide="$ctrl.data.Name.length >= 3 && $ctrl.data.Name.length <= 150"
            >
                <span class="small danger"
                    >{{"beamjoy.common.invalid"|translate}}</span
                >
            </div>
        </td>
    </tr>
    <tr ng-if="$ctrl.namePreview">
        <td
            class="text-right"
            title='{{"beamjoy.window.config.tabs.core.fields.preview.tooltip"|translate}}'
        >
            {{"beamjoy.window.config.tabs.core.fields.preview"|translate}}
        </td>
        <td
            ng-html="{{$ctrl.renderPreview($ctrl.namePreview)}}"
            title='{{"beamjoy.window.config.tabs.core.fields.preview.tooltip"|translate}}'
        ></td>
    </tr>
    <tr class="spacer"></tr>
    <tr>
        <td class="text-right">
            {{"beamjoy.window.config.tabs.core.fields.description"|translate}}
        </td>
        <td>
            <textarea
                ng-model="$ctrl.data.Description"
                class="content w-100 h-fitcontent"
                autoheight
            ></textarea>
            <div ng-hide="$ctrl.data.Description.length <= 500">
                <span class="small danger"
                    >{{"beamjoy.common.invalid"|translate}}</span
                >
            </div>
        </td>
    </tr>
    <tr ng-if="$ctrl.descriptionPreview">
        <td class="text-right">
            {{"beamjoy.window.config.tabs.core.fields.preview"|translate}}
        </td>
        <td ng-html="{{$ctrl.renderPreview($ctrl.descriptionPreview)}}"></td>
    </tr>
    <tr class="spacer"></tr>
    <tr>
        <td
            class="text-right"
            title='{{"beamjoy.window.config.tabs.core.fields.maxPlayers.tooltip"|translate}}'
        >
            {{"beamjoy.window.config.tabs.core.fields.maxPlayers"|translate}}
        </td>
        <td>
            <input
                type="number"
                ng-model="$ctrl.data.MaxPlayers"
                min="1"
                max="99"
            />
            <div ng-hide="$ctrl.data.MaxPlayers">
                <span class="small danger"
                    >{{"beamjoy.common.invalid"|translate}}</span
                >
            </div>
        </td>
    </tr>
    <tr>
        <td
            class="text-right"
            title='{{"beamjoy.window.config.tabs.core.fields.private.tooltip"|translate}}'
        >
            {{"beamjoy.window.config.tabs.core.fields.private"|translate}}
        </td>
        <td>
            <bj-toggle ng-model="$ctrl.data.Private"></bj-toggle>
        </td>
    </tr>
    <tr>
        <td
            class="text-right"
            title='{{"beamjoy.window.config.tabs.core.fields.debug.tooltip"|translate}}'
        >
            {{"beamjoy.window.config.tabs.core.fields.debug"|translate}}
        </td>
        <td>
            <bj-toggle ng-model="$ctrl.data.Debug"></bj-toggle>
        </td>
    </tr>
    <tr>
        <td
            class="text-right"
            title='{{"beamjoy.window.config.tabs.core.fields.informationPacket.tooltip"|translate}}'
        >
            {{"beamjoy.window.config.tabs.core.fields.informationPacket"|translate}}
        </td>
        <td>
            <bj-toggle ng-model="$ctrl.data.InformationPacket"></bj-toggle>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <div class="d-flex gap-1">
                <button
                    class="btn success w-fitcontent"
                    ng-class="{'disabled': !$ctrl.dirty || !$ctrl.valid}"
                    ng-disabled="!$ctrl.dirty || !$ctrl.valid"
                    ng-click="$ctrl.save()"
                >
                    {{"beamjoy.common.save"|translate}}
                </button>
                <button
                    class="btn warning w-fitcontent"
                    ng-class="{'disabled': !$ctrl.dirty}"
                    ng-disabled="!$ctrl.dirty"
                    ng-click="$ctrl.cancel()"
                >
                    {{"beamjoy.common.cancel"|translate}}
                </button>
            </div>
        </td>
    </tr>
</table>
