<style>
    bj-window,
    .window-wrapper {
        display: block;
        width: 100%;
        height: 100%;
        pointer-events: none;
    }
    .window-wrapper {
        position: relative;
        font-size: 0.8em;
        max-width: 100%;
        max-height: 100%;
        display: flex;
        flex-direction: column;
    }
    .window-wrapper > * {
        width: 100%;
        color: white;
    }
    .window-header {
        position: relative;
        height: 2em;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.1em;
        color: rgb(230, 92, 0);
        text-transform: uppercase;
        font-weight: bolder;
        pointer-events: all;
    }
    .window-header-background {
        position: absolute;
        top: 75%;
        bottom: 0;
        left: 0;
        right: 0;

        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 0.2em 0 0 0;

        transition: top 0.6s ease-in-out;
    }
    .window-wrapper.minimized .window-header-background {
        top: 20%;
    }
    .window-header .window-title {
        flex-grow: 1;
        position: relative;
        font-size: 1.8em;
        padding: 0.2em 0 0 0.2em;
        -webkit-text-stroke: 0.04em rgba(0, 0, 0, 0.4);
    }
    .window-header .window-header-buttons-stripe {
        position: relative;
        height: 100%;
        width: 0;
        background-color: rgb(230, 92, 0);
        margin: 0 0.4em;
    }
    .window-header .window-header-buttons-stripe:before {
        display: block;
        content: "";
        position: absolute;
        top: 0;
        right: 100%;
        bottom: 0;
        border-bottom: 2em rgb(230, 92, 0) solid;
        border-left: 0.6em solid transparent;
    }
    .window-header .window-header-buttons-stripe:after {
        display: block;
        content: "";
        position: absolute;
        top: 0;
        left: 100%;
        bottom: 0;
        border-top: 2em rgb(230, 92, 0) solid;
        border-right: 0.6em solid transparent;
    }
    .window-header .window-header-buttons {
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        min-width: 3em;
        background-color: rgb(230, 92, 0);
        gap: 0.2em;
        padding: 0.3em;
        padding-left: 0.7em;
        margin-left: 0.4em;
    }
    .window-header .window-header-buttons:before {
        display: block;
        content: "";
        position: absolute;
        top: 0;
        right: 100%;
        bottom: 0;
        border-bottom: 2em rgb(230, 92, 0) solid;
        border-left: 0.6em solid transparent;
    }
    .window-header .window-header-buttons .btn {
        color: white;
        background-color: rgba(0, 0, 0, 0);
        border: thin solid rgba(46, 71, 86, 0.5);
        border: none;
        height: 1.6em;
        aspect-ratio: 1;
        transition: background-color 0.2s ease-in-out;
    }
    .window-header .window-header-buttons .btn:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }
    .btn .minimize-icon {
        position: relative;
        width: 66%;
        aspect-ratio: 1;
        margin: auto;
    }
    .btn .minimize-icon:before {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 67%;
        aspect-ratio: 1;
        display: block;
        content: "";
        transform: translate(-50%, -80%) rotate(45deg);
        border: 0.3em solid white;
        border-top: none;
        border-left: none;
        transition: transform 0.5s ease-in-out;
    }
    .window-wrapper.minimized .btn .minimize-icon:before {
        transform: translate(-50%, -50%) rotate(135deg);
    }
    .btn .close-icon {
        height: 40%;
        aspect-ratio: 1;
        font-size: 1em;
        line-height: 0.5em;
        font-weight: bolder;
        color: white;
        margin: auto;
    }
    .window-content-wrapper {
        flex-grow: 1;
        position: relative;
    }
    .window-content-wrapper .window-accordion {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0%;
        transition: bottom 0.6s ease-in-out;
        overflow: hidden;
        pointer-events: all;
    }
    .window-content-wrapper .window-accordion.bg {
        border-radius: 0 0 0.2em 0.2em;
        background-color: rgba(0, 0, 0, 0.2);
    }
    .window-wrapper.minimized .window-content-wrapper .window-accordion {
        bottom: 100%;
    }
    .window-content-wrapper .window-accordion .window-content {
        width: 100%;
        height: 100%;
        padding: 0.8em;
        overflow: auto;
    }
</style>

<div
    class="window-wrapper"
    ng-class="{'minimized': $ctrl.minimized}"
    ng-if="$ctrl.visible"
>
    <div class="window-header">
        <div class="window-header-background" ng-hide="!$ctrl.background"></div>
        <span class="window-title">{{ $ctrl.label | translate}}</span>
        <div class="window-header-buttons-stripe"></div>
        <div class="window-header-buttons-stripe" style="width: 2px"></div>
        <div class="window-header-buttons-stripe" style="width: 4px"></div>
        <div class="window-header-buttons">
            <button
                class="btn"
                ng-hide="!$ctrl.minimizable"
                ng-click="$ctrl.toggleMinimized()"
            >
                <div class="minimize-icon"></div>
            </button>
            <button
                class="btn"
                ng-hide="!$ctrl.closable"
                ng-click="$ctrl.onClose()"
            >
                <div class="close-icon">&#10006;</div>
            </button>
        </div>
    </div>
    <div class="window-content-wrapper">
        <div class="window-accordion" ng-class="{bg: $ctrl.background}">
            <div class="window-content" ng-transclude></div>
        </div>
    </div>
</div>
